*{
    background-color: lightgray;
    color: black;
    font-family: 'Rubik Moonrocks', cursive;
}
#respond{
    margin-top: 40px;
}
#comment_author,
#email,
#comment{
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
.customer-response{
    /* padding-left: 50vh; */
    padding-top: 70vh;
}
.form-plus-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
}